@import "tailwindcss";

.hero-gradient {
  background: linear-gradient(0deg, #34BCE4 0%, #101010 40%, #101010 100%);
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInScale {
  animation: fadeInScale 0.4s ease-out forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  scroll-behavior: smooth;   /* smooth scroll */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-240%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}